<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.testsys.dao.TestEntityDao">
	<insert id="save" parameterType="TestEntity" >
		insert into t_testentity(id,description,te_iden) values(#{id},#{description},#{teIden})
	</insert>
	<update id="update" parameterType="TestEntity" >
		update t_testentity set description=#{description},te_iden=#{teIden} where id=#{id}
	</update>
	<delete id="deleteByIds" >
		delete from t_testentity where id in 
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
	</delete>
	<select id="queryByIds" >
		select * from t_testentity where id in
		<foreach collection="list" item="ids" open="(" separator="," close=")">
			#{ids}
		</foreach>
	</select>
	<select id="queryAll" >
		select * from t_testentity
	</select>		
</mapper>